@reference '../../../styles/globals.css';

.project-collection {
  @apply relative grid w-screen bg-stone-100;
  --project-collection-overlap: 44rem;
  margin-left: calc(
    (
        100% - 100vw + var(
            --home-page-right-gutter,
            var(--layout-page-gutter)
          ) - var(--layout-page-gutter)
      ) / 2
  );
  width: 100vw;

  & .project-collection__stack,
  & .project-collection__card,
  & .project-collection__item {
    @apply relative;
  }

  &.project-collection--center {
    & .featured-project__teaser,
    & .featured-project__intro {
      @apply justify-self-center text-center;
    }
  }

  &.project-collection--right {
    & .featured-project__teaser,
    & .featured-project__intro {
      @apply justify-self-end text-right;
    }
  }
}

@media (min-width: 760px) {
  .project-collection {
    @apply block;

    & .project-collection__card {
      @apply h-screen overflow-hidden;
      will-change: transform;
    }

    & .project-collection__stack + .project-collection__stack {
      margin-top: calc(var(--project-collection-overlap) * -1);
    }
  }
}
